
@import "ember-cli-bootstrap-4/bootstrap";

/***********************************************************/

/*MENU DE PAGINA*/

@media only screen and (max-width: 800px) {
    body{
        position: relative   
    }
    
    .overlay,.sideMenu{
        position:fixed;
        bottom:0
    }
    
    .overlay{
        top:0;
        left:-100%;
        right:100%;
        margin:auto;
        background-color:rgba(0,0,0,.5);
        z-index:998;
        transition:all ease .2s
    }
    
    .overlay.open{
        left:0;
        right:0
    }
    
    .sidebarNavigation{
        margin-bottom:0;
        z-index:999;
        justify-content:flex-start
    
    }
    
    .sidebarNavigation .leftNavbarToggler{
        margin-right:10px;
        order:-1
    }
    
    .sideMenu{
        left:-100%;
        top:52px;
        transition:
        all ease .5s;
        overflow:hidden;
        width:100%;
        z-index:999;
        max-width:80%;
        margin-bottom:0;padding:1rem
    }
    
    .sideMenu.open{
        left:0;
        display:block;
        overflow-y:auto
    }
    
    .sideMenu ul{
        margin:0;
        padding:0 10px}
    
    }   
    
    #PonenteCard{
        margin-left: 9%; 
        margin-top:7%
    }
    
@media only screen and (min-width: 801px){
    
    
    body{
        position: relative
    }
    
        .overlay,.sideMenu{
            position:fixed;
            bottom:0
        }
        
        .overlay{
            top:0;
            left:-100%;
            right:100%;
            margin:auto;
            background-color:rgba(0,0,0,.5);
            z-index:998;
            transition:all ease .2s;    
        }
        
        .overlay.open{
            left:0;
            right:0
        }
        
        .sidebarNavigation{
            margin-bottom:0;
            z-index:999;
            justify-content:flex-start
        
        }
        
        .sidebarNavigation .leftNavbarToggler{
            margin-right:10px;
            order:-1
        }
        
        .sideMenu{
            left:-100%;
            top:52px;
            transition:
            all ease .5s;
            overflow:hidden;
            width:100%;
            z-index:999;
            max-width:25%;
            margin-bottom:0;padding:1rem;
            
           
            
        }
        
        .sideMenu.open{
            left:0;
            display:block;
            overflow-y:auto
        }
        
        .sideMenu ul{
            margin:0;
            padding:0 15px
        
        }

        #PonenteCard{
            margin-left: 3%; 
            margin-top: 3%;
            color: #000;
            
        }
    
    }

/***********************************************************/
/***********************************************************/    

/*PIE DE PAGINA*/

.btn-outline-pink {
    border-color:rgb(237, 101, 241);    
    background-color: transparent;
    color: rgb(237, 101, 241);
   
}


@media only screen and (max-width: 800px) {
    #main-footer {
        background: #292b2c;
        color: white;
        height: 57px;
        text-align: center;
        padding: 8px;
        width: 100%;
        position: fixed;
        bottom: 0 !important;
        bottom: -1px;
    }

    #cuerpo {
        padding: 12%;
        height: 90%;
        width: 100%;

    }
    #celda {
        width: 150px;
    }    

    #dropdownW{
        width: 70%;
    }

    #chat {
        background: #292b2c;
        color: white;
        text-align: center;
        padding: 02px;
        width: 100%;
        position: fixed;
        bottom: 0 !important;
        bottom: -1px;
        min-height: 45px;
    max-height: 150px;
    }

    .styleHr{
        margin-top: 3%;  
        margin-bottom: -5px;    
    
    }

    /* --  Input  -- */

input[type="text"], input[type="msg"],  input[type="password"] {    
    height: 40px;
    width: 75%;
    border: none;
	background: #F4F4F4;
    border-bottom: 2px solid #EEE;
    color: #354052;
    padding: 0px 10px;
    opacity: 0.5;
    -webkit-transition: 0.2s border-color, 0.2s opacity;
    transition: 0.2s border-color, 0.2s opacity;
    margin-left: 12.5%;    
}



input[type="text"]:focus,  input[type="password"]:focus,  textarea:focus {
    border-color: #6195FF;
    opacity: 1;
    
}


textarea{    
    height: 40px;
    width: 80%;
    border: none;
	background: #F4F4F4;
    border-bottom: 2px solid #EEE;
    color: #354052;
    padding: 0px 10px;
    opacity: 0.5;
    -webkit-transition: 0.2s border-color, 0.2s opacity;
    transition: 0.2s border-color, 0.2s opacity;    
}

.logo{  
    width: 100%;    
    margin-top: 30%; 
    margin-bottom: 30%;
}

.btnLogin{
    width: 75%; 
}

.lbl{    
    margin-left: 12.5%;
    font-size: 22px;
    font-weight: bold;   
    color: rgb(75, 75, 75); 
}

.filtro{

    width: 50%;

}

}

@media only screen and (min-width: 801px) {
    
    #main-footer {
        background: #292b2c;
        color: white;
        height: 70px;
        text-align: center;
        padding: 20px;
        width: 100%;
        position: fixed;
        bottom: 0 !important;
        bottom: -1px;
    }

    #cuerpo {
        padding: 50%;
        height: 10%;
        width: 100%;
    }
    /*Tabla Personalizada*/
    #celda {
        width: 400px;
    } 
    
    #dropdownW{

        width: 40%;
    }

    #chat {
        background: #292b2c;
        color: white;
        height: 100px;
        text-align: center;
        padding: 10px;
        width: 100%;
        position: fixed;
        bottom: 0 !important;
        bottom: -1px;
        resize: none;
    overflow: auto;
    }

    .styleHr{
        margin-top: 2%;  
        margin-bottom: -5px;    
    
    }

    /* --  Input  -- */

input[type="text"],  input[type="password"], textarea {
    height: 40px;
    width: 40%;
    border: none;
	  background: #F4F4F4;
    border-bottom: 2px solid #EEE;
    color: #354052;
    padding: 0px 10px;
    opacity: 0.5;
    -webkit-transition: 0.2s border-color, 0.2s opacity;
    transition: 0.2s border-color, 0.2s opacity;
    margin-left:30%; 
}

input[type="text"]:focus,  input[type="password"]:focus,  textarea:focus {
    border-color: #6195FF;
    opacity: 1;
}

.logo{
    width: 50%;    
    margin-top: 5%; 
    margin-bottom: 10%;
    margin-left: 25%; 
}

.btnLogin{
    width: 40%; 
}

.lbl{    
    margin-left: 30%;
    font-size: 22px;
    font-weight: bold;   
    color: rgb(75, 75, 75); 
}

}
    
    
/***********************************************************/
/***********************************************************/

/* -- typography -- */

#cardTarjet{
    /* background-color: rgb(232, 248, 229); */
    /* border-color: rgb(159, 189, 228); */
    /* background-color: transparent; */
    background-color: rgb(232, 248, 229);
    border-color: rgb(169, 159, 228);
}

body {
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
    color: #868F9B;
    height: 100%;
    width: 100%;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 50px;
    color: rgb(0, 0, 0);
}

h1 {
    font-size: 40 px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 18px;    
}

h5 {
    font-size: 16px;
}

a {
    color: #868F9B;
    text-decoration: none;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

a:hover, a:focus {
    text-decoration: none;
    outline: none;
    opacity: 0.8;
    color: #6195FF;
}

.main-color {
    color: #6195FF;
}

.white-text {
    color: #FFF;
}

::-moz-selection {
    background-color: #6195FF;
    color: #FFF;
}

::selection {
    background-color: #6195FF;
    color: #FFF;
}

/***********************************************************/
/***********************************************************/


/* --  background image section  -- */

.bg-img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bg-img .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    background: #1C1D21;
}

/***********************************************************/
/***********************************************************/



textarea {
    padding: 10px 10px;
    min-height: 80px;
    resize: vertical;
}



/***********************************************************/
/***********************************************************/

/*------------------------------------*\
	Header
\*------------------------------------*/

header {
    position: relative;
}

#home {
    height: 100vh;
}

#home .home-wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.home-content h1 {
  text-transform: uppercase;
}

.parallax {
    /* The image used */
    /*background-image: url('../img/eBento.jpg');*/
    background-image: url('/media/1.webp');    

    /* Set a specific height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/***********************************************************/
/***********************************************************/

/*MENU PONENTES*/

.live__scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.live__scroll .row {
    display: block;
}

.live__scroll .live__scroll--box {
    display: inline-block;
    float: none;
    padding: 0;
}


/***********************************************************/
/***********************************************************/

/* -- DISEÑO DIV ACTIVIDADES-- */

.text-center {
    text-align: center;
}

.card-img-top {
    width: 100%;
}

/*Call to Action*/

.header-line {
    height: 5px;
    width: 100%;
    content: '';
    display: block;
}

.gradient-color-1 {
    background: -webkit-linear-gradient(left, #fc636b 0, #ff6d92 60%, #fd9a00 100%);
    background: linear-gradient(to right, #fc636b 0, #ff6d92 60%, #fd9a00 100%);
}

/* .gradient-color-2 {
        
    background: #a7f5ff;
    background: -webkit-linear-gradient(bottom left, #c9fded 0, #adefff 100%);
    background: linear-gradient(to top right, #ecc9fd 0, #97e9fd 100%);
} */




    .bg-imgAA {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
        background-position: center;    
        background-size: cover;    
        background-attachment: fixed;
        overflow:auto;  

        
    
               
    }
    
    .bg-imgAA .overlayed {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 1;
        height: 100%;
        width: 100%;              
        margin:0px;
                
                
    background: -moz-linear-gradient(top,#23CCEF 0,rgba(64,145,255,.7) 100%);    
    background: -o-linear-gradient(top,#23CCEF 0,rgba(64,145,255,.7) 100%);
    background: -ms-linear-gradient(top,#23CCEF 0,rgba(64,145,255,.7) 100%);
    background: linear-gradient(to bottom,#23CCEF 0,rgba(64,145,255,.7) 100%);
    background-size: 120% 120%;
        

}

.gradient-color-3 {    
    background: white;
    background: -webkit-linear-gradient(bottom left, #c9fded 0, #adefff 100%);
    background: linear-gradient(to top right, white 0, white 100%);
}

.gradient-color-4 {
    background: -webkit-linear-gradient(left, #2770f8 0, #ac6dff 60%, #dfa1fc 100%);
    background: linear-gradient(to right, #2770f8 0, #ac6dff 60%, #dfa1fc 100%);    
}




/**/

/*Utility Class*/

.text-white {
    color: white;
}

.no-margin {
    margin: 0;
}

.no-margin-top {
    margin-top: 0;
}

.pad-right {
    margin-right: 0.5em;
}


.chatConta {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

/* Darker chat container */
.darker {
    color: #160812;
    border-color:#160812;
    background-color:#e0eebb;
}
.hero{
    color: #160812;
        background-color:  #f7eef5;
        
        border-color:#2e658d;
}

/* Clear floats */
.chatConta::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.chatConta img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

/* Style the right image */
.chatConta img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

/* Style time text */
.time-right {
    float: right;
    color: rgb(48, 48, 48);
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}

#avatar {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

/****************************************************************************
********************CONTACTOS ESTILO****************************************/
/*contenedor de cada contacto*/
 
div h5{
    font-family: "Segoe UI", Arial, sans-serif;      
    margin: 10px 0;
    color: rgb(13, 122, 31)!important;
    font-weight: 400;
}

.w3-cell-row {
    height: -10%;
    width: 100%;        
}


.w3-cell {
    display: table-cell;

}
.w3-container {
    padding: 0.01em 16px
}
div i {
    
    color: rgb(37, 18, 63);
}

.w3-circle {

    max-width: 60px;
    width: 100%;
    border-radius: 50%;
    margin-top: 20px;
}
    /*mantiene la hora de lado derecho*/





/***-*-*-*-*--*-*-*-*-*-*---*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-***-
-*-*--*-**--*-*-*-*-*-ESTILO CONTACTOS BARRA DE BUSQUEDA*--*--*-**-*-*--*-*-*-*-*-*-*-**/
 /***********************************************************/
 
   /*ALOJA EL BOTON A LADO DEL INPUT TEXT*/
   * {
    box-sizing: border-box;
}
/*ACOMODA EL INPUT TEXT, TAMAÑO, POSICION DE ACUERDO AL BOTON ,COLOR,*/
form.example input[type=text] {
    padding: 15px;
    font-size: 14px;
    border: .5px solid grey;
    float: left;
    width: 50px;
    height: 35px;
    margin-top: 5.5px;
    background: #f1f1f1;
    border-radius: 5px;
}
/*TODO EL ESTILO DEL BUTTON, COLOR, POSISCION*/
form.example img {
    float: left;

    font-size: 14px;
    border-left: none;
    cursor: pointer;
}


/*SOLO ACOMODA EL TEXTO DE ACUERDO AL INPUT AND BUTTON*/
form.example::after {
    content: "";
    clear: both;
    display: table;
}


/*EL EFECTO DE OCULTAR LA BARRA DE BUSQUEDA*/

form.example input[type=text]:focus {
    width: 70%;
}

/*********************************************************************/
/*********************************************************************/
/*********************************************************************/

.message{    
        width: 300px;
        height: 150px;      
}

 textarea, .foot{
    resize: none;
    overflow: auto;
    min-height: 45px;
    max-height: 150px;
} 

.textA{
    
    height: 100px;

}



/*********************************************************************/
/*********************************************************************/
/************************PONENTES PERFIL*********************************************/

.cardponente {
    box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    
  }
  
  .titlep {
    color: rgb(255, 255, 255);
    font-size: 18px;
  }
  
  .buttoncard {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .ponente a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  
  .imgp {
      border-radius: 8px;
      width: 150px; height: 150px;
  }
  
  .imgperfil {
    border-radius: 8px;
    width: 120px; height: 110px;
}


html{    
    width: auto;
    min-width: 100%;    
height: auto;
min-height: 100%;        
}

body
{
    width: auto;
    
    height: auto;    

}