 {{#ember-wormhole to="destination"}} {{#link-to source class="navbar-brand"}}
<img src="/media/atras.png" width="25" height="24"> Actividades {{/link-to}} {{/ember-wormhole}} {{outlet}}


<br>
<br>
<br>

<div>


    <div class="col-md-3">
        <div class="card cta cta--featured" style=" background-color: rgb(224, 224, 250);">
            <span class="header-line gradient-color-1"></span>
            <br>
            <div class="container" style="width: 300px;">
                {{#link-to "logged.detalleactividades" (query-params source= "logged.actividades")}}

                <div class="card-block center" style="text-align: inherit; color:#000">
                    <h5 class="card-title no-margin-top">SER Y SENTIDO: ANÁLISIS DEL SER INTERROGADO
                    </h5>
                    <h6 class="card-subtitle text-muted">vie. 18 de may. de 2018</h6>
                    <br>
                    <h6 class="card-subtitle text-muted">4:15 pm - 5:15 pm</h6>


                    <hr style="background-color: #d1d1f8;" />
                    <p class="list-group-item-text">
                        Juan Felipe Miramontes Hernández
                    </p>
                    <p>
                        <span class="badge badge-pill badge-dark">Conferencia </span>
                    </p>
                </div>
                {{/link-to}}
            </div>
        </div>
    </div>

    <br>

    <div class="col-md-3">
        <div class="card cta cta--featured" style=" background-color: rgb(224, 224, 250);">
            <span class="header-line gradient-color-1"></span>
            <br>
            <div class="container" style="width: 300px;">
                {{#link-to "logged.detalleactividades"  (query-params source= "logged.actividades")}}
                <div class="card-block center" style="text-align: inherit; color:#000">
                    <h5 class="card-title no-margin-top">LOS MITOS DE LA RESILIENCIA                       
                    </h5>
                    <h6 class="card-subtitle text-muted">vie. 18 de may. de 2018</h6>
                    <br>
                    <h6 class="card-subtitle text-muted">5:15 pm - 6:15 pm</h6>
                    <hr style="background-color: #d1d1f8;" />
                    <p class="list-group-item-text">
                        Ponentes: Patricia Marcela Crast
                    </p>
                    <p>
                        <span class="badge badge-pill badge-dark">Conferencia </span>
                    </p>
                </div>
                {{/link-to}}
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>

</div>