{{#ember-wormhole to="destination"}} {{#link-to "logged.menuactividades" class="navbar-brand"}}
<img src="/media/atras.png" width="20" height="20"> Detalle actividades {{/link-to}} {{/ember-wormhole}} {{outlet}}

<br>
<br>
<br>
<br>



<div class="container" style="text-align: center; height: 100%">
        <h3>Actividades</h3>

        <h5 class="list-group-item-heading" style="color: black;">
                Por el momento no hay actividades disponibles
        </h5>

        <div>
                <img src="/media/error.png" alt="error.png" width="120" height="120">
        </div>


</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>