{{#ember-wormhole to="destination"}} Contactos {{/ember-wormhole}} {{outlet}}
<br>
<br>



<!--START CONTACTOS -->
<div class="w3-container ">
    <div class="w3-cell-row">
        {{#link-to "chat"}}
        <div class="w3-cell" style="width:30%; ">
            <img class="w3-circle" src="media/in3.jpg">
        </div>
        <div class="w3-cell w3-container">
            <h4 style="margin-bottom: 2px">Usuario name</h4>
            <small style="color: aliceblue">profesional en ciencias</small>
        </div>
        <span class="time-right" style="margin-top: 50px; margin-right: 4%">19:50</span>
        {{/link-to}}
        <hr class="styleHr">
    </div>

    <div class="w3-cell-row ">
        {{#link-to "chat"}}
        <div class="w3-cell" style="width:30%; ">
            <img class="w3-circle" src="media/in9.jpg">
        </div>
        <div class="w3-cell w3-container">
            <h4 style="margin-bottom: 2px">Usuario 2</h4>
            <small style="color: aliceblue">Profesional en educacion</small>
        </div>
        <span class="time-right" style="margin-top: 50px; margin-right: 4% ">19:50</span>
        {{/link-to}}
        <hr class="styleHr">
    </div>


    <div class="w3-cell-row ">
        {{#link-to "chat"}}
        <div class="w3-cell" style="width:30%; ">
            <img class="w3-circle" src="media/in2.jpg">
        </div>
        <div class="w3-cell w3-container">
            <h4 style="margin-bottom: 2px">Usuario 3</h4>
            <small style="color: aliceblue">Profesional en educacion</small>
        </div>
        <span class="time-right" style="margin-top: 50px; margin-right: 4% ">19:50</span>
        {{/link-to}}
        <hr class="styleHr">
    </div>


    <div class="w3-cell-row ">
        {{#link-to "chat"}}
        <div class="w3-cell" style="width:30%; ">
            <img class="w3-circle" src="media/in1.jpg">
        </div>
        <div class="w3-cell w3-container">
            <h4 style="margin-bottom: 2px">Usuario 4</h4>
            <small style="color: aliceblue">Profesional en psicologia</small>
        </div>
        <span class="time-right" style="margin-top: 50px; margin-right: 4% ">19:50</span>
        {{/link-to}}
        <hr class="styleHr">
    </div>
    

    <div class="w3-cell-row ">
        {{#link-to "chat"}}
        <div class="w3-cell" style="width:30%; ">
            <img class="w3-circle" src="media/in10.jpg">
        </div>
        <div class="w3-cell w3-container">
            <h4 style="margin-bottom: 2px">Usuario 5</h4>
            <small style="color: aliceblue">Profesional en psicologia</small>
        </div>
        <span class="time-right" style="margin-top: 50px; margin-right: 4% ">19:50</span>
        {{/link-to}}
        <hr class="styleHr">
    </div>



    <div class="w3-cell-row">
        {{#link-to "chat"}}
        <div class="w3-cell" style="width:30%; ">
            <img class="w3-circle" src="media/in7.jpg">
        </div>
        <div class="w3-cell w3-container">
            <h4 style="margin-bottom: 2px">Usuario 6</h4>
            <small style="color: aliceblue">profesional en filosofia</small>
        </div>
        <span class="time-right" style="margin-top: 50px; margin-right: 4% ">19:50</span>
        {{/link-to}}
        <hr class="styleHr">
    </div>
    
    
</div>


<br>
<br>
<br>