{{#ember-wormhole to="destination"}}
Home  
{{/ember-wormhole}}

{{outlet}}



<div>

    <br>
    <br>
    <br>

    <hr style="background-color: rgb(230, 201, 233);" />
    <div class="col-md-3">
        <div class="card cta cta--featured" style=" background-color: rgb(224, 224, 250);">

            <span class="header-line gradient-color-4"></span>
            <br>
            <div class="container" style="width: 300px;">
                {{#link-to "logged.detalleactividades" (query-params source= "logged.home")}}
                <div class="card-block center" style="text-align: inherit; color:#000">
                   <dt>LOS MITOS DE LA RESILIENCIA</dt>
                    <hr style="background-color: #d1d1f8;" />

                    <h6 class="card-subtitle text-muted">vie. 18 de may. de 2018</h6>
                    <br>
                    <h6 class="card-subtitle text-muted">5:15 pm - 6:15 pm</h6>
                    <hr style="background-color: #d1d1f8;" />
                    <p class="list-group-item-text">
                        Ponentes: Patricia Marcela Crast
                    </p>
                    <span class="badge badge-pill badge-dark">Conferencia </span>
                    <br>
                    <br>
                </div>
                {{/link-to}}
            </div>
        </div>
    </div>

    <br>

    <div class="col-md-3">
        <div class="card cta cta--featured" style=" background-color: rgb(224, 224, 250);">
            <span class="header-line gradient-color-4"></span>
            <br>
            <div class="container" style="width: 300px;">
                {{#link-to "logged.detalleactividades" (query-params source= "logged.home")}}
                <div class="card-block center" style="text-align: inherit; color:#000">
                    <dt>LOS MITOS DE LA RESILIENCIA</dt>
                    <hr style="background-color: #d1d1f8;" />

                    <h6 class="card-subtitle text-muted">vie. 18 de may. de 2018</h6>
                    <br>
                    <h6 class="card-subtitle text-muted">5:15 pm - 6:15 pm</h6>
                    <hr style="background-color: #d1d1f8;" />
                    <p class="list-group-item-text">
                        Ponentes: Patricia Marcela Crast
                    </p>
                    <span class="badge badge-pill badge-dark">Conferencia </span>
                    <br>
                    <br>
                </div>
                {{/link-to}}
            </div>
        </div>
    </div>

    <br>


    <div class="col-md-3">
        <div class="card cta cta--featured" style=" background-color: rgb(224, 224, 250);">
            <span class="header-line gradient-color-4"></span>
            <br>
            <div class="container" style="width: 300px;">
                {{#link-to "logged.detalleactividades" (query-params source= "logged.home")}}
                <div class="card-block center" style="text-align: inherit; color:#000">
                    <dt>LOS MITOS DE LA RESILIENCIA</dt>
                    <hr style="background-color: #d1d1f8;" />

                    <h6 class="card-subtitle text-muted">vie. 18 de may. de 2018</h6>
                    <br>
                    <h6 class="card-subtitle text-muted">5:15 pm - 6:15 pm</h6>
                    <hr style="background-color: #d1d1f8;" />
                    <p class="list-group-item-text">
                        Ponentes: Patricia Marcela Crast
                    </p>
                    <span class="badge badge-pill badge-dark">Conferencia </span>
                    <br>
                    <br>
                </div>
                {{/link-to}}
            </div>
        </div>
    </div>    

    <br>
    <br>
    <br>
</div>
<br>
<br>




