{{#ember-wormhole to="destination"}}
        <h3 style="margin: 5px; color: white; font-size: 20.5px;">Actividades</h3>
{{/ember-wormhole}}

{{outlet}}


<div class="container gradient-color-2" style="height: 100%; padding:0; margin:0; width: 100%">
    <br>
    <br>
    <br>
    <br>

    <div class="container" style="text-align: center">

        <h4>
            <img src="/media/material.png" alt="fecha.png" width="50" height="50"> Tipos de actividades</h4>

        <div class="dropdownW">
            <button id="dropdownW" class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                --Selecciona--
            </button>
            <div id="dropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {{#link-to "logged.actividades" (query-params source= "logged.menuactividades") class="dropdown-item"}}Todas{{/link-to}} 
                {{#link-to "logged.actvacias" (query-params source= "logged.menuactividades")  class="dropdown-item"}}Taller{{/link-to}}
                {{#link-to "logged.actvacias" (query-params source= "logged.menuactividades")  class="dropdown-item"}}Presentación{{/link-to}} 
                {{#link-to "logged.actividades" (query-params source= "logged.menuactividades")  class="dropdown-item"}}Conferencia{{/link-to}}
                {{#link-to "logged.actvacias" (query-params source= "logged.menuactividades")  class="dropdown-item"}}Descanso{{/link-to}} 
                {{#link-to "logged.actvacias" (query-params source= "logged.menuactividades")  class="dropdown-item"}}Visita{{/link-to}}
            </div>
        </div>
        <hr style="background-color: rgb(230, 201, 233);" />
    </div>
    <br>

    <div class="container" style="text-align: center">
        <h4>
            <img src="/media/dia.png" alt="material.png" width="50" height="50"> Fecha de actividades</h4>
        <div class="dropdownW">
            <button id="dropdownW" class="btn btn-dark  dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                --Selecciona--
            </button>
            <div id="dropdownW" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {{#link-to "logged.actvacias" (query-params source= "logged.menuactividades") class="dropdown-item"}}Previo al evento{{/link-to}} 
                {{#link-to "logged.actividades" (query-params source= "logged.menuactividades") class="dropdown-item"}}vie. 18 de may. de 2018 {{/link-to}} 
                {{#link-to "logged.actvacias"  (query-params source= "logged.menuactividades") class="dropdown-item"}}sáb. 19 de may. de 2018{{/link-to}}
                {{#link-to "logged.actvacias" (query-params source= "logged.menuactividades") class="dropdown-item"}}dom. 20 de may. de 2018{{/link-to}} 
                {{#link-to "logged.actvacias" (query-params source= "logged.menuactividades") class="dropdown-item"}}Después del evento{{/link-to}}
            </div>
        </div>
        <hr style="background-color: rgb(230, 201, 233);" />
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>