{{#ember-wormhole to="destination"}} Ponentes {{/ember-wormhole}}

<br>
<br>
<br>
<br>

<!--START PONENTES -->


<div class="col-md-12">

{{#each model as |ponentes|}}


    <div class="card" style="background-color: transparent">
        {{#link-to "logged.detalleponentes"}}
        <div class="media border p-1" style=" border-color: beige">
            <img src={{ponentes.img}}
                alt="avatar" class="rounded-circle" width="70" height="70" style="margin: 2%; margin-left: 7%">
            <div id="PonenteCard">
                <p style="color: black">{{ponentes.name}}</p>
            </div>
        </div>
        {{/link-to}}
    </div>

    <br>

{{/each}}
    {{!-- <div class="card" style="background-color: transparent">
        {{#link-to "logged.detalleponentes"}}
        <div class="media border p-1" style=" border-color: beige">
            <img src="media/MtroNaty.webp" alt="avatar" class="rounded-circle" style="width:65px; margin: 2%; margin-left: 7%">
            <div id="PonenteCard">
                <p style="color: black">John Doe</p>
            </div>
        </div>
        {{/link-to}}
    </div>

    <br>

    <div class="card" style="background-color: transparent">
        {{#link-to "logged.detalleponentes"}}
        <div class="media border p-1" style=" border-color: beige">
            <img src="https://beta.ebento.xyz/api/system/archivos/assets/5ab1/772c/9875/9fe7/dbc0/6adf/original/Arturo_Cisneros_Cuayahuitl.jpg?1521579820"
                alt="avatar" class="rounded-circle" style="width:65px; margin: 2%; margin-left: 7%">
            <div id="PonenteCard">
                <p style="color: black">John Doe</p>
            </div>
        </div>
        {{/link-to}}
    </div>

    <br>


    <div class="card" style="background-color: transparent">
        {{#link-to "logged.detalleponentes"}}
        <div class="media border p-1" style=" border-color: beige">
            <img src="media/MtroNaty.webp" alt="avatar" class="rounded-circle" style="width:65px; margin: 2%; margin-left: 7%">
            <div id="PonenteCard">
                <p style="color: black">John Doe</p>
            </div>
        </div>
        {{/link-to}}
    </div>

    <br> --}}

    <br>
    <br>
    <br>
    <br>
</div>