<div>

    {{!-- https://www.youtube.com/watch?v=Q-xRLBZ4ntc --}}
    <!--<nav class="navbar navbar-expand-md bg-dark navbar-dark sidebarNavigation fixed-top" data-sidebarClass="navbar-dark bg-dark">-->
    <nav class="navbar bg-dark navbar-dark sidebarNavigation fixed-top" data-sidebarClass="navbar-dark bg-dark" style="position: fixed;">

        <h3 style="margin: 0px; color: white; font-size: 20.5px;" id="destination"></h3>

        <button class="navbar-toggler leftNavbarToggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav warning confirm" id="confirm-dialog">
                <li>
                    <hr style="background-color: rgb(209, 209, 248);" />

                    <p style="color: rgb(124,160,242);">Perfil</p>
                    <div class="panel-body" style="height: 50%;">
                        <!--#343a40-->
                        <div style="background-color:	#343a40;">
                            <div style=" text-align: center !important;">
                                <img src="/media/blog1.jpg" class="rounded-circle" alt="Cinque Terre" width="130" height="120">
                            </div>
                            <br>
                            <div>                                
                                <div style="text-align: center; color: cornsilk ">
                                    {{#if session.currentUser}}{{session.currentUser.email}} {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr style="background-color: rgb(209, 209, 248);" />
                </li>
                <li>
                <div style="text-align:center; margin:5%">
                    <div class="ui">
                        <button {{action 'logout' on='click' }} class="btn btn-outline-light">
                            <img src="/media/cerrar.png" width="25" height="25" /> Cambiar Evento</button>
                    </div>
                </div>                
                </li>
            </ul>
        </div>
    </nav>
</div>

{{outlet}}

<footer id="main-footer">

    <table class="table-borderless">
        <tbody>
            <tr>
                <td id="celda">
                    {{#link-to "logged.menuactividades" }}
                    <img src="/media/calendario.svg" width="39" height="39"> {{/link-to}}
                </td>
                <td id="celda">
                    {{#link-to "logged.ponentes"}}
                    <img src="/media/ponentes.svg" width="40" height="40"> {{/link-to}}
                </td>
                <td id="celda">
                    {{#link-to "logged.home"}}
                    <img src="/media/casa.svg" width="40" height="40"> {{/link-to}}
                </td>
                <td id="celda">
                    {{#link-to "logged.contactos"}}
                    <img src="/media/chat.svg" width="40" height="41"> {{/link-to}}
                </td>
                <td id="celda">
                    {{#link-to "logged.ajustes"}}
                    <img src="/media/config.svg" width="40" height="40"> {{/link-to}}
                </td>
            </tr>
        </tbody>
    </table>

</footer>