<div>
    <!--<nav class="navbar navbar-expand-md bg-dark navbar-dark sidebarNavigation fixed-top" data-sidebarClass="navbar-dark bg-dark">-->
    <nav class="navbar bg-dark navbar-dark sidebarNavigation fixed-top" data-sidebarClass="navbar-dark bg-dark" style="position: fixed;">

        <h3 style="margin: 0px; color: white; font-size: 20.5px;" id="destination"></h3>

        <button class="navbar-toggler leftNavbarToggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav warning confirm" id="confirm-dialog">
                <li>
                    <hr style="background-color: rgb(209, 209, 248);" />

                    <p style="color: rgb(124,160,242);">Perfil</p>
                    <div class="panel-body" style="height: 50%;">
                        <!--#343a40-->
                        <div style="background-color:	#343a40;">
                            <div style=" text-align: center !important;">
                                <img src="/media/blog1.jpg" class="rounded-circle" alt="Cinque Terre" width="130" height="120">
                            </div>
                            <br>
                            <div>
                                <div style="text-align: center; color: cornsilk ">
                                    {{#if session.currentUser}}{{session.currentUser.email}} {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr style="background-color: rgb(209, 209, 248);" />
                </li>
                <li>
                    <div style="text-align:center; margin:5%">
                        <div class="ui">
                            <button {{action 'logout' on='click' }} class="btn btn-outline-light">
                                <img src="/media/cerrar.png" width="25" height="25" /> Cambiar Evento</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>


<div style="float:left; position: fixed; z-index: 1030;width: 100%; margin-top: 55px;">
    <div class="card-block">
        <ul class="nav nav-tabs nav-justified" style="background-color: #343a40; color: aliceblue">
            <li class="nav-item">
                <a class="nav-link active" id="active-tab" data-toggle="tab" href="#active" aria-controls="active" aria-expanded="true">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Todas</font>
                    </font>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="link-tab" data-toggle="tab" href="#link" aria-controls="link" aria-expanded="false">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Gratis</font>
                    </font>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="linkOpt-tab" data-toggle="tab" href="#linkOpt" aria-controls="linkOpt" aria-expanded="false">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Pago</font>
                    </font>
                </a>
            </li>
        </ul>
        {{!--
        <div class="tab-content px-1 pt-1">
            <div role="tabpanel" class="tab-pane fade" id="active" aria-labelledby="active-tab" aria-expanded="false">
                <p>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Macarrones dulces bastones tootsie rollo oblea limón gotas regaliz jalea-o tootsie rollo pastel.
                        </font>
                        <font style="vertical-align: inherit;">Marzapán regaliz soufflé algodón dulce jalea pastel jelly-o azúcar ciruela malvavisco. </font>
                        <font style="vertical-align: inherit;">Dulce de postre de azúcar de chocolate macarrón chocolate azúcar ciruela pastel donut.</font>
                    </font>
                </p>
            </div>
            <div class="tab-pane fade" id="link" role="tabpanel" aria-labelledby="link-tab" aria-expanded="false">
                <p>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Gummies de sésamo de la barra de chocolate snaps. </font>
                        <font style="vertical-align: inherit;">El sésamo de la torta de regaliz broche dulce de caramelo de algodón pastel de brownie. </font>
                        <font style="vertical-align: inherit;">Brownie de los bastones de caramelo de caramelo de algodón. </font>
                        <font style="vertical-align: inherit;">Biscuit pudding de sésamo snaps con leche pudín de sésamo rompe tiramisú de galleta.</font>
                    </font>
                </p>
            </div>
            <div class="tab-pane fade active in" id="linkOpt" role="tabpanel" aria-labelledby="linkOpt-tab" aria-expanded="true">
                <p>
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Cookie iceing tootsie roll cupcake jelly-o sésamo snaps. </font>
                        <font style="vertical-align: inherit;">Gummies cookie dragée cake jelly mazapán donut pie macarrón. </font>
                        <font style="vertical-align: inherit;">Gingerbread en polvo torta de chocolate glaseado. </font>
                        <font style="vertical-align: inherit;">Cheesecake gummi lleva helado de mazapán.</font>
                    </font>
                </p>
            </div>
        </div> --}}
    </div>
</div>


<div class="container" style="float:left; position: fixed; z-index: 1030; margin-top: 98px">

    <div class="btn-group" style="width: 100%; margin: 0%">
        <div class="btn-group btn-group-sm filtro">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Tipos de Actividades
            </button>

             <div class="dropdown-menu">                        

                <div class="dropdown-item">
                    <label class="form-check-label" for="check2">
                        <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something" checked>Todas
                    </label>
                </div>

                <div class="dropdown-item">
                    <label class="form-check-label" for="check2">
                        <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">Taller
                    </label>
                </div>

                 <div class="dropdown-item">
                    <label class="form-check-label" for="check2">
                        <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">Presentación
                    </label>
                </div>

                <div class="dropdown-item">
                    <label class="form-check-label" for="check2">
                        <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">Conferencia
                    </label>
                </div>

                <div class="dropdown-item">
                    <label class="form-check-label" for="check2">
                        <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">Descanso
                    </label>
                </div>

                <div class="dropdown-item">
                    <label class="form-check-label" for="check2">
                        <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">Visita
                    </label>
                </div>

            </div>
        </div>

        <div class="btn-group btn-group-sm filtro">

            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Fecha de Actividades
            </button>

            <div class="dropdown-menu">

                <div class="dropdown-item">
                    <label class="form-check-label" for="check2">
                        <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">Vie. 18 de Mayo 2018
                    </label>
                </div>

                <div class="dropdown-item">
                    <label class="form-check-label" for="check2">
                        <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">Sab. 19 de Mayo 2018
                    </label>
                </div>

                <div class="dropdown-item">
                    <label class="form-check-label" for="check2">
                        <input type="checkbox" class="form-check-input" id="check2" name="option2" value="something">Dom. 20 de Mayo 2018Hola
                    </label>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="container" style="float:left; position: absolute; margin-top: 150px; margin-bottom: 55px; color:aliceblue">

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis similique ad est veniam deserunt aliquam odit minus
        ipsum aspernatur. Magni minus ex illum sequi, necessitatibus earum? Illo numquam repudiandae voluptates!
    </p>

    <br>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis similique ad est veniam deserunt aliquam odit minus
        ipsum aspernatur. Magni minus ex illum sequi, necessitatibus earum? Illo numquam repudiandae voluptates!
    </p>

    <br>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis similique ad est veniam deserunt aliquam odit minus
        ipsum aspernatur. Magni minus ex illum sequi, necessitatibus earum? Illo numquam repudiandae voluptates!
    </p>

    <br>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis similique ad est veniam deserunt aliquam odit minus
        ipsum aspernatur. Magni minus ex illum sequi, necessitatibus earum? Illo numquam repudiandae voluptates!
    </p>

</div>



<footer id="main-footer">

    <table class="table-borderless">
        <tbody>
            <tr>
                <td id="celda">
                    {{#link-to "logged.menuactividades" }}
                    <img src="/media/calendario.png" width="39" height="39"> {{/link-to}}
                </td>
                <td id="celda">
                    {{#link-to "logged.ponentes"}}
                    <img src="/media/ponentes.png" width="40" height="40"> {{/link-to}}
                </td>
                <td id="celda">
                    {{#link-to "logged.home"}}
                    <img src="/media/casa.png" width="40" height="40"> {{/link-to}}
                </td>
                <td id="celda">
                    {{#link-to "logged.contactos"}}
                    <img src="/media/chat.png" width="40" height="41"> {{/link-to}}
                </td>
                <td id="celda">
                    {{#link-to "logged.ajustes"}}
                    <img src="/media/config.png" width="40" height="40"> {{/link-to}}
                </td>
            </tr>
        </tbody>
    </table>

</footer>