<br>
<div class="container" style="text-align: center">
 

    {{input type="text" name="" class="form-control" placeholder="desc" value=descrip}}
    <br> 
    {{input type="text" name="" class="form-control" placeholder="email" value=correo}}
    <br>
    {{input type="text" name="" class="form-control" placeholder="id" value=codigo}}
    <br> 
    {{input type="text" name="" class="form-control" placeholder="img" value=imagen}}
    <br>
     {{input type="text" name="" class="form-control" placeholder="job" value=ocupacion}}
    <br> 
    {{input type="text" name="" class="form-control" placeholder="nombre" value=nombre}}
    <br>
    {{input type="text" name="" class="form-control" placeholder="red   " value=redsocial}}
    <br>
    <button {{action 'registrarPersona'}} class="btn btn-dark btn-lg btnLogin">Acceder</button>

</div>


{{#each model as |ponentes|}}


<h4>{{ponentes.ids}}</h4>
<h4>{{ponentes.name}}</h4>
<img src={{ponentes.img}} alt="">


{{/each}}