
<header id="home">
    <div class="bg-img" style="background-image: url('media/Registro.jpg');">
        <div class="overlay"></div>
    </div>

    <div class="home-wrapper">
        <div class="container">
            <div class="row">

                <div class="col-md-10 col-md-offset-1">
                    <div class="container">
                        <br>
                        <h2 class="white-text">Registrarse</h2>
                        <br>
                        <form style="color: rgb(255, 255, 255);text-align: left">

                            <div class="form-group">
                                <label for="email">Nombre usuario:</label>
                                {{input type="text" name="" class="form-control" placeholder="Usuario" value=usuario focus-out=(action 'toogleError' 'usuario')}}
                                {{#if userErrorCheck}} {{v-get this 'usuario' 'message'}} {{/if}}
                            </div>

                            <br>

                            <div class="form-group">
                                <label for="pwd">Contraseña:</label>
                                {{input type="password" name="" class="form-control" placeholder="Password" value=pass focus-out=(action 'toogleError' 'pass')}}
                                {{#if passwordErrorCheck}} {{v-get this 'pass' 'message'}} {{/if}}
                            </div>

                            <br>

                            <div class="form-group">
                                <label for="pwd">Confirmar contraseña:</label>
                                {{input type="password" name="" class="form-control" placeholder="Confirmar Password" value=confirmPass focus-out=(action
                                'toogleError' 'confirmPass')}} {{#if confirmPasswordErrorCheck}} {{v-get this 'confirmPass'
                                'message'}} {{/if}}
                            </div>
                            <br>
                            <br>
                            <div class="d-flex p-3 justify-content-around">

                                {{#link-to "login" class="btn btn-outline-light btn-lg"}} Cancelar {{/link-to}}
                                <button {{action 'loginRegistro' usuario pass }} class="btn btn-outline-pink">Aceptar</button>
                            </div>


                            

                            <br>
                            <br>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>